<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>CAR LICENCE PLATE CHECKER</h1>
    <h4>Please enter a licence plate, like HMZ-140 or any part of the license plate (like MZ-1)!</h4>
    <form action="GetSearchedList" method="post">
        <p>Licence Plate: <input type="text" name="charactersOfPlate" value="" /></p>
        <button type="submit" value="Submit">SEARCH!</button>
    </form>
</body>
</html>